<div class="card"
    style="background-image: url(https://images.pexels.com/photos/1366909/pexels-photo-1366909.jpeg?auto=compress&cs=tinysrgb&w=600)">
    <div class="content">
        <!-- Your card content goes here -->
        <div class="title dfjcac">

            <h1>{{data.title}}</h1>
        </div>

        <div class="desc dfjcac">

            <p>{{data.description}}</p>
        </div>
        <div class="btn dfjcac">

            <button class="view-button" (click)="viewTrip(data.id)">View</button>
        </div>
    </div>
</div>
