<div class="header">
    

    <div class="search">
        <input type="text" id="search" placeholder="Search your trips">
        <!-- <label for="search">Search</label> -->
    </div>    

    <div class="icons">
            <!-- <input type="text" id="search">
            <label for="search">Search</label> -->
            <a routerLink="/add-trip"  class="Btn">Add Trip</a>
        <button  class="Btn">LOGIN</button>
    </div>
    <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
</div>
<br>
<div class="heading">
    

    <h1>TRAVEL BOOK</h1>
</div>